body{
	background-image: url("../images/velvet.jpg")
}

div{
	font-size: 15px;
	background-color: white;
	color: slategray;
	margin: 10px;
	width: 25%;
	border: dotted 2px black;
	padding: 10px;
}

h1{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}

ul{
	list-style: disc inside;
	text-indent: 20px;
}

.header, .instructions{
	width: 50%;
	background-color: white;
}

.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
    height: 60px;
    margin: 5%;
}

.userTotal{
	width: 15%;
    height: 60px;
    margin: 5%;
}

.gems{
    clear: both;
	width: 50%;
	background-color: white;
}

.gemImage{
	height: 60px;
    margin: 10px;
    border: dotted 4px slategrey;
}